@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s, background-color 0.2s;
  }

  li:hover a::after {
    width: calc(100% - 20px);
    background-color: #afafae;
  }