@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: transparent;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.2s, background-color 0.2s;
  }

  li:hover a::after {
    width: calc(100% - 20px);
    background-color: #afafae;
  }

  .hover-move-up {
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1); /* Adjust the cubic-bezier values for desired smoothness */
}

.hover-move-up:hover {
    transform: translateY(-10px);
}

